body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

#main {
  background-color: gray;
}

p {
    font-family: verdana;
    font-size: 20px;
}

button {
  font-family: verdana;
  font-size: 20px;
}
