h1 {
  color: green;
}

p {
  color: orange;
  font-size: 20px;
}

#hint {
  color: red;
  font-size: 30px;
}

#life {
  color: blue;
  font-size: 30px;
}

#display {
  font-size: 40px;
}

button {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
  width: 2em;
  height: 2em;
}
