body {
    background-color: #2c2f35;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 58px;
    /*font-style: oblique;*/
}

p {
  background-color: #e29391;
  color: white;
  padding: 10px 10px;
  font-size: 20px;
  width: 600px;
  height: 30px;
}

button {
    background-color: #bc403c;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 140px;
    height: 50px;
}

#bar1 {
  background-color: #2c2f35;
  text-align: center;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  width: 600px;
  height: 10px;
}

#btnStart {
  background-color: #bc403c; // red
  border: none;
  display: inline-block;
  text-align: center;
  color: white;
}
